[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
xgboost = "*"
tqdm = "*"
tensorflow = "==2.17.1"
unzip = "*"

[dev-packages]

[requires]
python_version = "3.12"
